# Project exclude paths
/.gradle/
/Problems/Advanced calculator/out/
/Problems/Advanced calculator/out/production/classes/
/Problems/Compression algorithm/out/
/Problems/Compression algorithm/out/production/classes/
/Problems/Convert a date/out/
/Problems/Convert a date/out/production/classes/
/Problems/Converting and multiplying/out/
/Problems/Converting and multiplying/out/production/classes/
/Problems/Cyclically shifting elements/out/
/Problems/Cyclically shifting elements/out/production/classes/
/Problems/Parse url/out/
/Problems/Parse url/out/production/classes/
/Problems/The angle between vectors/out/
/Problems/The angle between vectors/out/production/classes/
/Problems/The lucky ticket/out/
/Problems/The lucky ticket/out/production/classes/
/Readability Score/task/build/
/Readability Score/task/out/
/Readability Score/task/out/production/classes/